* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.container {
    width: 100%;
    
}

.d2 {
    width: 100%;
    height: 55vh;
    background-image: url(images/bg-lg2.jpg);
    background-size: cover;


}

.Heading {
    width: 100%;
    height: 60%;
    padding: 20px;
    padding-top: 20px;
    /* border: 1px solid white; */
}

@media (min-width:768px) {
    .d2 {
        width: 100%;
        height: 45vh;
    }

    .frontpage {
        width: 100%;
        height: 100%;
        display: flex;
        /* border: 1px solid white; */
        justify-content: flex-start;
        align-items: center;
    }

    .Heading {
        padding-top: 20px;
        width: 60%;
        background-color: rgba(0, 0, 0, 0.438);
        border-radius: 20px;
        position: relative;
        left: 120px;
        /* border: 1px solid white; */
    }

    .anim1 {
        font-style: oblique;
        position: relative;
        top: 0;
        font-size: 20px;
        /* border: 1px solid white; */
        animation-name: anim;
        animation-duration: 1s;
    }

    .anim2 {
        position: relative;
        top: 0;
        font-size: 50px;
        /* border: 1px solid white; */
        animation-name: anim;
        animation-duration: 2s;
    }

    .getinfo {
        padding: 20px;
        font-size: 20px;
    }

    .conta {
        width: 100%;
        justify-content: space-around;
    }

    .morden-equ {
        /* border: 1px solid white; */
        width: 50%;
        height: 100%;

    }

    .helth {
        /* border: 1px solid white; */
        width: 50%;
        height: 100%;
    }

    .pro-traning {
        /* border: 1px solid white; */
        width: 50%;
        height: 100%;
    }

    .uniq-need {
        /* border: 1px solid white; */
        width: 50%;
        height: 100%;
    }

    .contaner1 {
        width: 100%;
        height: 50%;
        padding: 10px;
        display: flex;
        justify-content: space-around;
        /* border: 1px solid white; */
    }

    .contaner2 {
        width: 100%;
        height: 50%;
        padding: 10px;
        display: flex;
        justify-content: space-around;
    }
}

.anim1 {
    font-style: oblique;
    position: relative;
    top: 0;
    animation-name: anim;
    animation-duration: 1s;
}

.anim2 {
    position: relative;
    top: 0;
    animation-name: anim;
    animation-duration: 2s;
}

.getinfo {
    padding: 20px;
    /* font-size: 25px; */
}

@media (min-width:1024px) {

    .d2 {
        width: 100%;
        height: 100vh;
        background-image: url(images/bg-lg2.jpg);
        background-size: cover;
    }

    .contaner1 {
        width: 50%;
        height: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-wrap: wrap;
    }

    .contaner2 {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .symbol {
        width: 80px;
        height: 80px;
        border-radius: 100%;
        background-color: rgba(255, 68, 0, 0.959);

    }

    .morden-equ {
        /* border: 1px solid white; */
        width: 30%;
        height: 100%;
    }

    .helth {
        /* border: 1px solid white; */
        width: 50%;
        height: 100%;
    }

    .pro-traning {
        /* border: 1px solid white; */
        width: 50%;
        height: 100%;
    }

    .uniq-need {
        /* border: 1px solid white; */
        width: 50%;
        height: 100%;
    }

    .Heading {
        position: relative;
        left: 100px;
    }

    .anim1 {
        font-style: oblique;
        position: relative;
        top: 0;
        font-size: 25px;
        /* border: 1px solid white; */
        animation-name: anim;
        animation-duration: 1s;
    }

    .anim2 {
        position: relative;
        top: 0;
        font-size: 60px;
        /* border: 1px solid white; */
        animation-name: anim;
        animation-duration: 2s;
    }

    .getinfo {
        padding: 20px;
        font-size: 25px;
    }

}

@keyframes anim {
    from {
        transform: translateY(30px);
        top: 0
    }

    to {
        transform: translateY(0px);
        top: 0;
    }
}

.getinfo {
    background-color: rgba(255, 68, 0, 0.897);
    padding: 8px;
    color: aliceblue;
    padding-left: 15px;
    padding-right: 15px;
    border: none;
    border-radius: 10px;
    position: relative;
    top: 0;
    /* border: 1px solid white; */
    animation-name: anim;
    animation-duration: 3s;
}

.getinfo:hover {
    background-color: rgb(250, 89, 31);
    border: none;
}

.d3 {
    width: 100%;
    padding: 10px;
    margin-bottom: 0;
    border-bottom: none;
    background-color: rgba(0, 0, 0, 0.945);
    color: white;
    text-align: center;
}

.contaner1 {
    width: 100%;
    height: 50%;
    padding: 10px;

}

.contaner2 {
    width: 100%;
    height: 50%;
    padding: 10px;

}

p {
    color: rgba(240, 248, 255, 0.699);
}

.symbol {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-color: rgba(255, 68, 0, 0.959);
    position: relative;
    left: 65px;
    /* border: 1px solid white; */
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    width: 60%;
    height: 60%;

    filter: invert(1);
    /* border: 1px solid white; */
}

.symbol:hover {
    background-color: rgba(231, 81, 26, 0.979);
}

.sub-heading {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: -1px;
    font-weight: bold;
    /* border: 1px solid white; */
}

.d4 {
    width: 100%;
    /* height: 200vh; */
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.952);
    text-align: center;
    margin-top: 0;
    border-top: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 1px solid white; */
}

.main-head {
    width: 100%;
    height: 5%;
    /* border: 1px solid white; */
}

.img-container {
    width: 100%;
    height: 95%;
    padding-right: 10px;
    padding-left: 0;
    /* background-color: rgb(8, 8, 8); */
    /* border: 1px solid white; */
}

.img-sec1 {
    width: 100%;
    height: 50%;
    /* padding: 10px; */
    /* border: 1px solid white; */
}

.weightlift {
    width: 100%;
    height: 50%;
    margin: 10px;
    border: 1px solid gray;
    border-radius: 10px;
}

.weightlift:hover {
    transform: scaleX(1.1);
    transition: 1s;
}

.offer-img {
    width: 100%;
    height: 80%;
    border-radius: 10px;
}

.offer-img:hover {
    transform: translate(5px);
    transition-duration: 1s;
}

.offer-head {
    width: 100%;
    height: 20%;
    /* border: 1px solid rgba(128, 128, 128, 0.596); */
    text-align: left;
    padding-left: 15px;
    display: flex;


}

.offer-sub-heading {
    color: orangered;

}

.offer-main-heading {
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.head-section {
    width: 80%;
    height: 100%;
}

.btn-section {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    width: 50px;
    height: 50px;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    background-color: rgba(43, 40, 40, 0.904);
    color: white;
    font-weight: bold;
    outline: 1px solid rgba(128, 128, 128, 0.575);
}

.btn:hover {
    background-color: rgba(27, 25, 25, 0.822);
}

.cardio {
    width: 100%;
    height: 50%;
    margin: 10px;
    border: 1px solid gray;
    border-radius: 10px;
}

.cardio:hover {
    transform: scaleX(1.1);
    transition: 1s;
}

.img-sec2 {
    width: 100%;
    height: auto;
    padding-bottom: 10px;
    /* border: 1px solid white; */
}

.kettlebell {
    width: 100%;
    height: 50%;
    margin: 10px;
    border: 1px solid gray;
    border-radius: 10px;
}

.kettlebell:hover {
    transform: scaleX(1.1);
    transition: 1s;
}

.boxing {
    width: 100%;
    height: 50%;
    margin: 10px;
    border: 1px solid gray;
    border-radius: 10px;
}

.boxing:hover {
    transform: scaleX(1.1);
    transition: 1s;
}

@media (min-width:768px) {
    .d4 {
        width: 100%;
        /* height: 200vh; */
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.952);
        text-align: center;
        margin-top: 0;
        border-top: none;
        /* border: 1px solid white; */
    }

    .btn {
        margin-top: 20px;
    }

    .img-sec1 {
        width: 100%;
        height: 50%;
        margin-bottom: 10px;
        /* padding: 10px; */
        /* border: 1px solid white; */
    }

    .kettlebell {
        width: 100%;
        height: 50%;
        margin: 10px;
        border: 1px solid gray;
        border-radius: 10px;
        margin-top: 10px;
    }
}

@media (min-width:1024px) {

    .d4 {
        width: 100%;
        height: 200vh;
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.952);
        text-align: center;
        margin-top: 0;
        border-top: none;
        /* border: 1px solid white; */
    }

    .img-sec1 {
        width: 100%;
        height: 40%;
        padding: 5px;
        margin: 10px;

        /* border: 1px solid white; */
        display: flex;
        justify-content: space-around;
    }

    .weightlift {
        width: 100%;
        height: 100%;
        margin: 5px;
    }

    .img-sec2 {
        width: 100%;
        height: 40%;
        padding: 5px;
        margin: 10px;
        /* border: 1px solid white; */
        display: flex;
    }

    .cardio {
        width: 100%;
        height: 100%;
        margin: 5px;

    }

    .kettlebell {
        width: 100%;
        height: 100%;
        margin: 5px;

        /* border: 1px solid white; */
    }

    .boxing {
        width: 100%;
        height: 100%;
        margin: 5px;
        /* border:1px solid white; */
    }

    .offer-img {
        width: 100%;
        height: 70%;
    }

    .offer-head {
        width: 100%;
        height: 30%;
        /* border: 1px solid rgba(128, 128, 128, 0.596); */
        text-align: left;
        padding-left: 15px;
        display: flex;
    }

    .btn {
        margin-top: 20px;
    }
}

.d5 {
    width: 100%;
    height: 80vh;
    background-color: rgba(0, 0, 0, 0.952);
    ;
}

.registration {
    width: 100%;
    height: 100%;
    /* border: 1px solid white; */
    background-image: url(images/reg7.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reg-head {
    width: 80%;
    height: 30%;
    font-family: Impact, sans-serif;
    color: white;
    text-align: center;
    /* border: 1px solid white; */
}

.reg-sub-head {
    width: 90%;
    height: 30;
    text-align: center;
    color: rgb(240, 248, 255);
    font-size: 22px;
    font-weight: 500;
}

.reg-btn {
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: transparent;
    border: 2px solid orangered;
    color: aliceblue;
}

.reg-btn:hover {
    background-color: rgba(252, 60, 2, 0.603);
}

@media (min-width:768px) {

    .reg-head {
        font-size: 60px;
    }

    .reg-sub-head {
        position: relative;
        top: -120px;
        font-size: 25px;
    }

    .reg-btn {
        position: relative;
        top: -120px;
        font-size: 20px;
    }
}

@media (min-width:1024px) {

    .reg-head {
        font-size: 60px;
    }

    .reg-sub-head {
        position: relative;
        top: -70px;
        font-size: 25px;
    }

    .reg-btn {
        position: relative;
        top: -60px;
        font-size: 20px;
    }

    .registration {
        height: 100%;
        background-image: url(images/gym3.jpg);
        background-size: cover;

    }
}

.d6 {
    width: 100%;
    height: auto;
    background-color: black;
    /* border: 1px solid white; */
}

.plan-head {
    width: 90%;
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-section {
    width: 100%;
    height: 90%;
    /* border: 1px solid white; */
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    justify-content: center;
    /* align-items: center; */
}

.box {
    width: 300px;
    height: 450px;
    background-color: rgba(59, 57, 57, 0.548);
    border: 0.2px solid gray;
    text-align: center;
    padding: 10px;
    margin: 15px;
    color: white;
}

.box:hover {
    background-color: rgb(252, 69, 3);
    transform: translate(5px, 5px);
    transition-duration: 2s;
    box-shadow: gray 2px 2px 2px 2px;

}

.list {
    list-style-type: none;
    font-size: 20px;
}

.enrol-btn {
    padding: 10px;
    width: 250px;
    height: 50px;
    color: white;
    background-color: rgba(61, 59, 59, 0.404);
    border: none;
}

.enrol-btn:hover {
    background-color: rgba(43, 42, 42, 0.925);
}

@media (min-width:1024px) {

    .plan-head {
        text-align: center;
        display: flex;
        padding: 10px;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

}

.d7 {
    width: 100%;
    height: 50vh;
    border-top: 1px solid grey;
    background-color: rgba(0, 0, 0, 0.973);
}

.address {
    width: 100%;
    height: 100%;
    /* border: 1px solid white; */
}

.add-sec {
    width: 100%;
    height: 33%;
    /* border: 1px solid white; */
    display: flex;
}

.add-sec1 {
    width: 30%;
    height: 100%;
    /* border: 1px solid white; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-img {
    width: 80px;
    height: 80px;
    background-color: orangered;
    /* border: 1px solid white; */
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-img:hover {
    background-color: rgb(238, 63, 0);
}

.loc-img {
    width: 50%;
    height: 50%;
    filter: invert(1);
}

.mess-img {
    width: 70%;
    height: 70%;
    filter: invert(1);
}

.add-sec2 {
    width: 70%;
    height: 100%;
    /* border: 1px solid white; */
}

.add {
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.phn {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 10px;
}

@media (min-width:768px) {

    .d7 {
        width: 100%;
        height: 20vh;
    }

    .address {
        width: 100%;
        height: 100%;
        /* border: 1px solid white; */
        display: flex;
        margin-top: 0%;
    }

    .add-sec {
        width: 100%;
        height: 80%;
        /* border: 1px solid white; */
        display: block;
        margin: 10px;
        margin-top: 20px;
    }

    .add-sec1 {
        width: 100%;
        height: 50%;
        /* border: 1px solid white; */
        display: flex;
        justify-content: center;
        /* align-items: center; */
    }

    .add-img {
        width: 80px;
        height: 80px;
    }

    .add-sec2 {
        width: 100%;
        height: 50%;
        /* border: 1px solid white; */
    }

    .add {
        display: flex;
        justify-content: center;
        align-items: start;
    }

    .phn {
        display: flex;
        justify-content: center;
        align-items: start;
    }

}

@media (min-width:1024px) {

    .d7 {
        height: 35vh;
    }

    .address {
        height: 100%;
        padding-bottom: 10px;
    }

    .add-sec {
        height: 100%;
    }

    .add-sec1 {
        height: 60%;
    }

    .add-sec2 {
        height: 40%;
        font-size: 18px;
    }
}

.d8 {
    width: 100%;
    /* height: 130vh; */
    background-color: rgb(0, 0, 0);
    /* border: 1px solid white; */
}

.end-sec {
    width: 100%;
    /* height: 100%; */
    padding: 10px;
}

.end-sec1 {
    width: 100%;
    height: 40%;
    /* border: 1px solid white; */
}

.social-mid {
    display: flex;
}

.social-icon {
    width: 25px;
    height: 25px;
    margin: 10px;
}

.social-icon:hover {
    background-color: blue;
}

.yu:hover {
    background-color: rgba(255, 0, 0, 0.801);
}

.fb-img {
    width: 22px;
    height: 22px;
}

.social-img {
    width: 100%;
    height: 100%;
    filter: invert(1);
}

.end-sec2 {
    width: 100%;
    height: 50%;
    margin-top: 10px;
    /* border:1px solid white; */
}

.end-box {
    width: 80%;
    height: 25%;
    /* border: 1px solid white; */
}

.last-box {
    width: 100%;
    height: 40%;
    /* border: 1px solid white; */
}

.end-list li a {
    list-style-type: none;
    color: rgba(255, 255, 255, 0.89);
    text-decoration: none;
}

.end-list li:visited {
    color: rgba(255, 255, 255, 0.884);
}

.last-box1 {
    width: 100%;
    height: 50%;
    border-bottom: 1px solid rgba(128, 128, 128, 0.726);
    /* border: 1px solid white; */
}

.last-box2 {
    width: 100%;
    height: 50%;
    border-bottom: 1px solid rgba(128, 128, 128, 0.61);

}

.end-sec-font {
    color: rgba(255, 255, 255, 0.925);
    font-size: 17px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: -1px;
    margin-bottom: 10px;
}

@media (min-width:768px) {

    .end-sec2 {
        display: flex;
        border-bottom: 1px solid gray;
    }

    .last-box {
        width: 100%;
        height: 50%;
        /* border: 1px solid white; */
    }

    .last-box2 {
        width: 100%;
        height: 50%;
        /* border-bottom: 1px solid rgba(128, 128, 128, 0.61); */
    }
}

.footer-sec {
    width: 100%;
    background-color: black;
    color: rgba(128, 124, 124, 0.966);
    text-align: center;
}

/* About section */

.container-fluid {
    width: 100%;
}

.about-front {
    width: 100%;
    height: 55vh;
    background-image: url(images/about.jpg);
    background-size: cover;
}

.about-head {
    width: 100%;
    height: 100%;
    /* border: 1px solid white; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-main-head {
    width: 60%;
    height: 30%;
    color: white;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.61);
    text-align: center;
    animation: aboutanime 2s;
    /* border: 1px solid white; */
}

@keyframes aboutanime {
    from {
        transform: translateY(300px);
    }

    to {
        transform: translateY(0px);
    }
}

@media (min-width:768px) {

    .about-front {
        height: 45vh;
    }

    .about-main-head {
        width: 40%;
        height: 20%;
    }
}

@media (min-width:1024px) {

    .about-front {
        height: 100vh;
    }

    .about-main-head {
        width: 35%;
        height: 15%;
    }
}

.youtube-video {
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    padding: 20px;

}

.about-conta {
    width: 100%;
    /* height: 100vh; */
    padding: 10px;
    background-color: black;

}

.about-box {
    width: 100%;
    /* height: 100%; */
    /* border: 1px solid white; */
}

.about-head-sec {
    width: 100%;
    /* height: 20%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border:1px solid white */
}

.about-info {
    width: 100%;
    /* height: 80%; */
    padding: 10px;
    text-align: justify;
    color: rgba(240, 248, 255, 0.904);
    /* border: 1px solid white; */
}

.para {
    color: rgba(240, 248, 255, 0.925);
}

/* Classes section */
.class-front-sec{
    width: 100%;
    height: 55vh;
    background-image: url(images/classes.jpg);
    background-size: cover;
}
.classes-big-head{
    width: 100%;
    height: 100%;
    color: aliceblue;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.class-main-head{
    width: 90%;
    height: 25%;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.658);
    animation: classanime 2s;
}
@keyframes classanime{
    from{
        transform: translateY(200px);
    }
    to{
        transform: translateY(0px);
    }
}
@media (min-width:768px) {
    .class-front-sec{
    width: 100%;
    height: 45vh;
     }
    .class-main-head{
        width: 40%;
        height: 20%;
    }
}
@media (min-width:1024px) {
.class-front-sec{
      height: 100vh;
    }
}
.classes-sec{
    width: 100%;
    /* height: 100vh; */
    padding:20px ;
    color: aliceblue;
    display: flex;
    /* border: 1px solid red; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
}
.class-box{
    width: 100%;
    /* height:33%; */
    padding-top: 10px;
    /* border: 1px solid red; */

}
.class-img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.parent-class-box1-2{
    width: 100%;
    /* border: 1px solid red; */
    /* height: 100%; */
}
.class-box1{
    width: 100%;
    /* height: 80%; */
    /* border: 1px solid red; */

}
.class-box2{
    width: 100%;
    /* height: 50%; */
    /* border: 1px solid red; */
}
.trainer-img{
    width: 100%;
    height: 100%;
}
.class-soc-mid{
   position: absolute;
   right: 30px;
   top:1820px;
}
.class-soc-icon{
    width: 18px;
    height: 18px;
    margin: 5px;
    
}
.info-table{
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
    
    
}
tr{
    border-bottom: 1px solid grey;    
}
td{
    padding: 15px;
}
@media (min-width:768px) {
    .parent-class-box1-2{
        display: flex;
    }

.class-box1{
    width: 50%;
    height: 100%;
    /* border: 1px solid red; */
    padding: 10px;

}
.parent-class-box1-2{
    height: 100%;
}
.class-box2{
    width: 50%;
    /* height: 50%; */
    padding: 10px;
    /* border: 1px solid red; */
}
.class-soc-mid{
   position: absolute;
   right: 30px;
   top:1500px;
}
.trainer-img{
    width: 100%;
    height: 100%;
}
}
@media (min-width:1024px) {
.class-soc-mid{
   position: absolute;
   right: 30px;
   top:1630px;
}
}